<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        <small>{{PageTitle}}  </small>
    </h1>
    <ol class="breadcrumb">
        <li><a class="homeClick" data-ng-click="goHome();"><i class="fa fa-dashboard"></i> {{'home' | i18n}}</a>
        </li>
        <li class="active">{{'change_password' | i18n}}</li>
    </ol>
</section>
<div class="row" style="margin-top: 0px;">
		<div class="col-xs-12">
			<div data-ng-include="messagePageLocation"></div>
		</div>
</div>
<!-- Main content -->
<section class="content">
 <!-- general form elements -->
   <div class="box box-primary">
      <!-- form start -->

		<form name="milestone" novalidate >
		<div class="box-body">
 
 				<div class="row">
				<div class="col-lg-4">
	   				<div class="form-group" >
	   					
		        			<label class="control-label"> {{'old_password' | i18n}} <b style="color:red">*</b></label>
		        			<input type="password" class="form-control" id="txtOnldPassword" name="passwordChangeObj.oldPassword"  data-ng-model="passwordChangeObj.oldPassword"  placeholder="{{'old_password' | i18n}}" data-ng-blur ="checkOldPassword(passwordChangeObj.oldPassword)"/>
		        			<span id="validaTionOldPassword" class="validaTionStyle" style="display: none" data-i18n="val_input"></span>
		        			<span id="validationInvalidOldPassword" class="validaTionStyle" style="display: none" data-i18n="val_input_invalid_old_password"></span>
	    			</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
	   				<div class="form-group" >
	   					
		        			<label class="control-label"> {{'new_password' | i18n}} <b style="color:red">*</b></label>
		        			<input type="password" class="form-control" id="txtNewPassword" name="passwordChangeObj.newPassword" data-ng-model="passwordChangeObj.newPassword"  placeholder="{{'new_password' | i18n}}" data-ng-blur="checkPasswordLength(passwordChangeObj.newPassword)"/>
		        			<span id="validaTionNewPassword" class="validaTionStyle" style="display: none" data-i18n="val_input"></span>
		        			<span id="validaTionNewPasswordLength" class="validaTionStyle" style="display: none" data-i18n="val_input_password_leangth"></span>
		        			<span id="validaTionAlphaNumaric" class="validaTionStyle" style="display: none" data-i18n="val_input_password_charecter"></span>
	    			</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
	   				<div class="form-group" >
	   					
		        			<label class="control-label"> {{'confirm_password' | i18n}} <b style="color:red">*</b></label>
		        			<input type="password" class="form-control" id="txtConfirmPassword" name="passwordChangeObj.confirmPassword" data-ng-model="passwordChangeObj.confirmPassword"  placeholder="{{'confirm_password' | i18n}}" data-ng-blur = "checkConfirmPassword(passwordChangeObj.confirmPassword)"/>
		        			<span id="validationConfirmPassword" class="validaTionStyle" style="display: none" data-i18n="val_input"></span>
		        			<span id="validationNewPwdAndConfirmPwd" class="validaTionStyle" style="display: none" data-i18n="val_input_new_confirm_password_same"></span>
	    			</div>
				</div>
			</div>
		   	
			
			<div>
	      	<button class="btn btn-primary" id ="submit"  data-ng-click="changePassword(passwordChangeObj)">{{'btn_change_password' | i18n}}</button>&nbsp&nbsp
	      	<button class="btn btn-default" type="reset" class="btn btn-link" data-ng-click="reset()">{{'btn_reset' | i18n}}</button>
	      	
	      	</div> 
		
			</div><!-- /.box -->
			</form>
	</div>
	
</section>