
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{'item' | i18n}} <small>{{'add_item_information' | i18n}}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ng-click="goHome();"><i class="fa fa-dashboard"></i> {{'home' | i18n}}</a></li>
		<li class="active">{{'item' | i18n}}</li>
	</ol>
</section>
<section class="content">
	<div class="row" style="margin-top: -10px;">
		<div class="col-xs-12">
			<div data-ng-include="messagePageLocation"></div>
		</div>
	</div>
	<div class="box box-primary">
		<div class="box-body no-padding">
			<form name="itemForm" novalidate id="itemForm">
				<div class="box-body">
	
					<div class="row"> 
						<div class="col-md-4">
							<div class="form-group" >
							<label class="control-label">{{'item_typeId' | i18n}}<b style="color:red">*</b></label>
							<input type="text" id="typeId" maxlength="128" class="form-control" name="typeId" data-ng-model="item.typeId" required placeholder="{{'item_typeId' | i18n}}" />
							<span id="validaTiontypeId"  class="validaTionStyle" style="display: none" data-i18n="val_input"></span>
							</div>
						</div>
					</div>
					


					
				</div>
				
				<div class="box-footer " >      
	 				<button class="btn btn-primary" data-ng-click="saveItem(item)" data-ng-disabled=" (itemForm.typeId.$dirty && itemForm.typeId.$invalid)" > {{'btn_save' | i18n}} </button>&nbsp;
         			<button class="btn btn-default" type="reset" data-ng-click="resetfunction()">{{'btn_reset' | i18n}}</button>&nbsp;
					<button class="btn btn-default" data-ng-click="goBackInItemListPage()"><i class="fa fa-arrow-left"></i>&nbsp;<b>{{'btn_go_back' | i18n}}<b></button>
				</div> 
 			</form>
 		</div>
	</div>
</section>
