<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{'users' | i18n}} <small> {{'user_list' | i18n}} </small>
	</h1>
	<ol class="breadcrumb">
		<li><a ng-click="goHome();"><i class="fa fa-dashboard"></i> {{'home' | i18n}} </a></li>
			<li class="active">{{'user_list' | i18n}}</li>
		</ol>
</section>
<section class="content">
	<div class="row" style="margin-top: -10px;">
		<div class="col-xs-12">
			<div data-ng-include="messagePageLocation"></div>
		</div>
	</div>
	<div class="clientListNav clientNav " >
		<div class="col-md-2">                                        
			<button class="btn btn-primary  pull-left" ng-click="gotoUser()">{{'add_new' | i18n}}</button>
		</div>
	</div>
	<div class="box box-primary" style="border-top-color: #8574AD;">
		<div class="box-body no-padding">
			<div class="table-responsive">
				<table data-ng-table="tableParams" class="table table-condensed table-bordered table-striped">
					<tbody>
					<tr ng-repeat="user in $data  track by $index">
						<td data-title="getLocalizedValue('sl_no')" class="text-right" data-header-class="text-right" width="20px">{{$index+1}}</td>
						<td data-title="getLocalizedValue('action')" width="100px">
							<div class="btn-group">
								<button type="button" data-toggle="tooltip" title="{{'edit' | i18n}}" class="btn btn-defult fa fa-edit" ng-click="goToUserForEdit(user)"></button>
								<button type="button" data-toggle="tooltip" title="{{'delete' | i18n}}" class="btn btn-danger fa fa-trash-o" ng-click="deleteUser(user)"></button>
							</div>
						</td>
						<td data-title="getLocalizedValue('user_uniqueCode')" sortable="'uniqueCode'" filter="{uniqueCode: 'text'}" class="text-left" data-header-class="text-left">{{user.uniqueCode}}</td>
						<td data-title="getLocalizedValue('user_firstName')" sortable="'firstName'" filter="{firstName: 'text'}" class="text-left" data-header-class="text-left">{{user.firstName}}</td>
						<td data-title="getLocalizedValue('user_lastName')" sortable="'lastName'" filter="{lastName: 'text'}" class="text-left" data-header-class="text-left">{{user.lastName}}</td>
						<td data-title="getLocalizedValue('user_email')" sortable="'email'" filter="{email: 'text'}" class="text-left" data-header-class="text-left">{{user.email}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>