<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{'articles' | i18n}} <small> {{'article_list' | i18n}} </small>
	</h1>
	<ol class="breadcrumb">
		<li><a ng-click="goHome();"><i class="fa fa-dashboard"></i> {{'home' | i18n}} </a></li>
			<li class="active">{{'article_list' | i18n}}</li>
		</ol>
</section>
<section class="content">
	<div class="row" style="margin-top: -10px;">
		<div class="col-xs-12">
			<div data-ng-include="messagePageLocation"></div>
		</div>
	</div>
	<div class="clientListNav clientNav " >
		<div class="col-md-2">                                        
			<button class="btn btn-primary  pull-left" ng-click="gotoArticle()">{{'add_new' | i18n}}</button>
		</div>
	</div>
	<div class="box box-primary" style="border-top-color: #8574AD;">
		<div class="box-body no-padding">
			<div class="table-responsive">
				<table data-ng-table="tableParams" class="table table-condensed table-bordered table-striped">
					<tbody>
					<tr ng-repeat="article in $data  track by $index">
						<td data-title="getLocalizedValue('sl_no')" class="text-right" data-header-class="text-right" width="20px">{{$index+1}}</td>
						<td data-title="getLocalizedValue('action')" width="100px">
							<div class="btn-group">
								<button type="button" data-toggle="tooltip" title="{{'edit' | i18n}}" class="btn btn-defult fa fa-edit" ng-click="goToArticleForEdit(article)"></button>
								<button type="button" data-toggle="tooltip" title="{{'delete' | i18n}}" class="btn btn-danger fa fa-trash-o" ng-click="deleteArticle(article)"></button>
							</div>
						</td>
						
						<td data-title="getLocalizedValue('article_title')" sortable="'title'" filter="{ title: 'text' }" class="text-left" data-header-class="text-left">{{article.title}}</td>
						<td data-title="getLocalizedValue('article_subtitle')" sortable="'subtitle'" filter="{ subtitle: 'text' }" class="text-left" data-header-class="text-left">{{article.subtitle}}</td>
						<td data-title="getLocalizedValue('article_leadtext')" sortable="'leadtext'" filter="{ leadtext: 'text' }" class="text-left" data-header-class="text-left">{{article.leadtext}}</td>
						<td data-title="getLocalizedValue('article_content')" sortable="'content'" filter="{ content: 'text' }" class="text-left" data-header-class="text-left">{{article.content}}</td>
						<td data-title="getLocalizedValue('article_type')" sortable="'type'" filter="{ type: 'text' }" class="text-left" data-header-class="text-left">{{article.type}}</td>
						
						
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
